<button color="warn" class="close" mat-icon-button [mat-dialog-close]="true" ><mat-icon>close</mat-icon></button>
<div class="p-1 p-sm-5" >
  <h2 mat-dialog-title>{{'ui.paymentsAdminInvoices.details' | translate}}</h2>
  <h3 mat-dialog-subtitle>identificator </h3>
<mat-dialog-content class="mat-typography d-flex flex-column">


  <div class="table table-responsive" >
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>{{'ui.paymentsAdminInvoices.productName' | translate}}</th>
          <th>{{'ui.paymentsAdminInvoices.productDescription' | translate}}</th>
          <th>{{'ui.paymentsAdminInvoices.procePerUnit' | translate}}</th>
          <th>{{'ui.paymentsAdminInvoices.quantity' | translate}}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>gbfgdfhbfd</td>
          <td>gbfgdfhbfd</td>
          <td>gbfgdfhbfd</td>
          <td>gbfgdfhbfd</td>
        </tr>
      </tbody>
    </table>
  </div>







</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>{{'ui.paymentsAdminInvoices.total' | translate}}</button>
</mat-dialog-actions>





</div>

