<mat-toolbar>
  <button *ngIf="isMobile && user != null" mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <img id="logo" routerLink="/" src="/assets/images/logo.svg" [style]="{width: isMobile ? '54px' : null}" />
  <button routerLink="/" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}" mat-button class="h-100">
    <mat-icon>home</mat-icon>
    <span>{{'ui.header.home' | translate}}</span>
  </button>
  <span fxFlex></span>
  <button *ngIf="user != null" mat-icon-button>
    <mat-icon [matBadge]="3" matBadgePosition="below before" [matBadgeOverlap]="true" matBadgeSize="small" matBadgeColor="accent">notifications</mat-icon>
  </button>
  <img id="avatar" *ngIf="user != null && photo != null" [src]="photo" [matMenuTriggerFor]="userMenu"/>
  <button *ngIf="user == null || photo == null" [matMenuTriggerFor]="userMenu" mat-icon-button>
    <mat-icon *ngIf="user == null">more_vert</mat-icon>
    <mat-icon *ngIf="user != null && photo == null">account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile" *ngIf="user"><mat-icon>person</mat-icon>{{user.name}}</button>
  <button mat-menu-item [matMenuTriggerFor]="langMenu"><mat-icon>language</mat-icon>{{'ui.header.language' | translate}}</button>
  <button mat-menu-item>
    <mat-slide-toggle
      [checked]="userPreferences?.useDarkTheme"
      (change)="onDarkModeChange($event)"
      (click)="$event.stopPropagation()">{{'ui.header.darkMode' | translate}}</mat-slide-toggle>
  </button>
  <button routerLink="/" *ngIf="!user" mat-menu-item><mat-icon>login</mat-icon>{{'ui.header.login' | translate}}</button>
  <button *ngIf="user" mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>{{'ui.header.logout' | translate}}</button>
</mat-menu>
<mat-menu #langMenu="matMenu">
  <button (click)="changeLanguage(lang)" [class.bold]="lang === translateService.currentLang" mat-menu-item *ngFor="let lang of languages"><mat-icon>translate</mat-icon>{{'ui.header.languages.' + lang | translate}}</button>
</mat-menu>
