<button color="warn" class="close" mat-icon-button [mat-dialog-close]="true" ><mat-icon>close</mat-icon></button>
<div class="p-1 p-sm-5" >
  <h2 mat-dialog-title>{{'ui.paymentsAdminInvoices.adminInvoice' | translate}}</h2>
<mat-dialog-content class="mat-typography d-flex flex-column">


  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>{{'ui.paymentsAdminInvoices.emissionDate' | translate}}</mat-label>
    <input matInput type="date" placeholder="" value="">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'ui.paymentsAdminInvoices.organisation' | translate}}</mat-label>
    <mat-select  multiple required>
      <mat-option>scoala 2</mat-option>
      <mat-option>scoala 4</mat-option>
      <mat-option>scoala 2</mat-option>
    </mat-select>
  </mat-form-field>





    <input #inp accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" type="file" class="d-none">
    <button (click)="inp.click()" mat-raised-button color="accent" class="w-100" ><mat-icon>file_upload</mat-icon><span>{{'ui.paymentsAdminInvoices.upload' | translate}}</span></button>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>{{'ui.paymentsAdminInvoices.execute' | translate}}</button>
</mat-dialog-actions>





</div>
