<div fxFlexFill class="mat-app-background">
  <div fxFlex fxLayout="column" id="sidenav">

    <button routerLinkActive="mat-accent" routerLink="/report-history" mat-button color="">
      <mat-icon>history</mat-icon>
      <span>{{'ui.sidenav.reportHistory' | translate}}</span>
    </button>


    <button routerLinkActive="mat-accent" routerLink="/create-report" mat-button color="">
      <mat-icon>add_circle_outline</mat-icon>
      <span>{{'ui.sidenav.createReport' | translate}}</span>
    </button>

  </div>
</div>
