<div [matTooltip]="getFormControlErrorsMessage()" matTooltipClass="bg-warn" class="cell h-100 w-100"
  [fxHide]="!editMode && column.isHidden">
  <app-string-cell [editMode]="editMode" [column]="column" [cellFormControl]="cellFormControl" [isMobile]="isMobile"
    *ngIf="column.dataType === columnDataTypes.StringSingleLine || column.dataType === columnDataTypes.StringMultiLine">
  </app-string-cell>
  <app-number-cell [editMode]="editMode" [column]="column" [cellFormControl]="cellFormControl" [isMobile]="isMobile"
    *ngIf="column.dataType === columnDataTypes.Real || column.dataType === columnDataTypes.PositiveReal || column.dataType === columnDataTypes.Integer || column.dataType === columnDataTypes.PositiveInteger || column.dataType === columnDataTypes.Long || column.dataType === columnDataTypes.PositiveLong">
  </app-number-cell>
  <app-date-time-cell [editMode]="editMode" [column]="column" [cellFormControl]="cellFormControl" [isMobile]="isMobile"
    *ngIf="column.dataType === columnDataTypes.DateTime">
  </app-date-time-cell>
  <app-date-cell [editMode]="editMode" [column]="column" [cellFormControl]="cellFormControl" [isMobile]="isMobile"
    *ngIf="column.dataType === columnDataTypes.Date">
  </app-date-cell>
  <app-boolean-cell [editMode]="editMode" [column]="column" [cellFormControl]="cellFormControl" [isMobile]="isMobile"
    *ngIf="column.dataType === columnDataTypes.Boolean">
  </app-boolean-cell>
  <app-files-cell [editMode]="editMode" [column]="column" [cellFormControl]="cellFormControl" [isMobile]="isMobile"
    *ngIf="column.dataType === columnDataTypes.SingleFile || column.dataType === columnDataTypes.MultipleFiles">
  </app-files-cell>
</div>
