:host {
  ::ng-deep .cell {
    mat-form-field {
      height: 100%;
      width: 100%;
      .mat-form-field-wrapper {
        height: 100%;
        margin: 0;
        .mat-form-field-flex {
          height: 100%;
          margin: 0;
        }
      }
    }
  }
}
