

<div class="mat-headline">{{'ui.paymentSettings.setting' | translate}}</div>

<hr>



<mat-card  class="mb-2" >

  <mat-card-content class="d-flex mt-3 flex-column  align-items-center"  >

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.prefix' | translate}}</mat-label>
      <input  required matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.invoiceStartNo' | translate}}</mat-label>
      <input type="number" required matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.dueDuration' | translate}}</mat-label>
      <input type="number"  matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.companyName' | translate}}</mat-label>
      <input  matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.cui' | translate}}</mat-label>
      <input  matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.j' | translate}}</mat-label>
      <input  matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.address' | translate}}(1)</mat-label>
      <input  matInput placeholder="" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.address' | translate}}(2)</mat-label>
      <input  matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.account' | translate}}(1)</mat-label>
      <input  matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.account' | translate}}(2)</mat-label>
      <input  matInput placeholder="" value="">
    </mat-form-field>

     <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.delegateName' | translate}}</mat-label>
      <input  matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.phone' | translate}}</mat-label>
      <input  matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.email' | translate}}</mat-label>
      <input type="email" matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="outline">
      <mat-label>{{'ui.paymentSettings.currencySymbol' | translate}}</mat-label>
      <input  matInput placeholder="" value="">
    </mat-form-field>



    <button  mat-raised-button color="accent"> <mat-icon>save</mat-icon>{{'ui.paymentSettings.save' | translate}}</button>



  </mat-card-content>
</mat-card>
