:host {
  ::ng-deep mat-calendar {
    margin-left: auto;
    margin-right: auto;

    .mat-calendar-header {
      padding: 0;
    }

    .calcell {
      &.disabled {
        pointer-events: none;
      }
      &.red {
        .mat-calendar-body-cell-content {
          border-color: coral;
        }
      }
      &.green {
        .mat-calendar-body-cell-content {
          border-color: green;
        }
      }
      &.orange {
        .mat-calendar-body-cell-content {
          border-color: yellow;
        }
      }
    }
  }
}
