<div id="wrapper" fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="flex-start center" fxLayoutGap.gt-sm="5px">

    <form fxFlex="1 1 auto" (submit)="onSearchSubmit()" [formGroup]="searchForm" fxLayout="row" fxLayoutAlign="flex-start center">
      <mat-form-field class="mff-p0 w-100" appearance="outline">
        <mat-label>{{'ui.forms.formsList.search' | translate}}</mat-label>
        <input formControlName="text" matInput />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button (click)="clearSearch()" *ngIf="filters.value.search != null && filters.value.search.length > 0" mat-icon-button color="warn">
        <mat-icon>clear</mat-icon>
      </button>
    </form>


    <div fxFlex="0 1 auto" fxFlex.lt-md="1 1 auto" fxLayout="row wrap" fxLayoutAlign="flex-start center" fxLayoutGap.gt-sm="5px">
      <mat-form-field fxFlex="1 1 auto" appearance="outline" class="mff-p0">
        <mat-label>{{'ui.forms.formsList.startDate' | translate}}</mat-label>
        <input [max]="endDate == null ? null : endDate" (dateChange)="onStartDateChanged($event)" [readonly]="true" matInput
          [ngxMatDatetimePicker]="startDatePicker" [value]="startDate">
        <mat-datepicker-toggle matSuffix [for]="castToAny(startDatePicker)"></mat-datepicker-toggle>
        <button (click)="onStartDateReset()" matSuffix *ngIf="filters.get('startDate')?.value != null" mat-icon-button type="button"
          color="warn">
          <mat-icon>delete</mat-icon>
        </button>
        <ngx-mat-datetime-picker #startDatePicker [enableMeridian]="false" [showSpinners]="true" [showSeconds]="true"
          [touchUi]="isMobile || false" [hideTime]="false">
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field fxFlex="1 1 auto" appearance="outline" class="mff-p0">
        <mat-label>{{'ui.forms.formsList.endDate' | translate}}</mat-label>
        <input [min]="startDate == null ? null : startDate" (dateChange)="onEndDateChanged($event)" [readonly]="true" matInput
          [ngxMatDatetimePicker]="endDatePicker" [value]="endDate">
        <mat-datepicker-toggle matSuffix [for]="castToAny(endDatePicker)"></mat-datepicker-toggle>
        <button (click)="onEndDateReset()" matSuffix *ngIf="filters.get('endDate')?.value != null" mat-icon-button type="button"
          color="warn">
          <mat-icon>delete</mat-icon>
        </button>
        <ngx-mat-datetime-picker #endDatePicker [enableMeridian]="false" [showSpinners]="true" [showSeconds]="true"
          [touchUi]="isMobile || false" [hideTime]="false">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
  </div>

  <mat-form-field class="mff-p0 w-100" appearance="outline">
    <mat-label>{{'ui.forms.formsList.tags' | translate}}</mat-label>
    <mat-chip-list #chipListTags>
      <mat-chip *ngFor="let tag of tags; let i = index" [selectable]="false" [removable]="true" (removed)="removeTag(i)">
        {{tag}}
        <mat-icon matChipRemove color="warn">cancel</mat-icon>
      </mat-chip>
      <input [placeholder]="'ui.forms.formsList.addTags' | translate" [matChipInputFor]="chipListTags"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </mat-form-field>
  <div fxFlex="1 1 auto" id="table-wrapper" [class.mobile]="isMobile">
    <table [matSortDirection]="filters.value.sortOrder" [matSortActive]="filters.value.sortBy" (matSortChange)="onSortChanged($event)"
      matTableResponsive [class.mobile]="isMobile" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ui.forms.formsList.title' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ui.forms.formsList.userName' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ui.forms.formsList.createdDate' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.createdDate | date:'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ui.forms.formsList.deadline' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.deadline | date:'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef> {{'ui.forms.formsList.tags' | translate}} </th>
        <td mat-cell *matCellDef="let row" class="wbba"> {{row.tags.join()}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> {{'ui.forms.formsList.edit' | translate}} </th>
        <td align="center" mat-cell *matCellDef="let row">
          <button [routerLink]="'/forms/edit/' + row.id" *ngIf="row.userId === user?.id" mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> {{'ui.forms.formsList.delete' | translate}} </th>
        <td align="center" mat-cell *matCellDef="let row">
          <button (click)="deleteForm(row)" *ngIf="row.userId === user?.id" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row [style.background]="row.isPinned === true ? 'darkgreen' : ''" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <mat-paginator (page)="onPaginatorChanged($event)" [length]="total" [pageSize]="filters.value.elementsPerPage"
    [pageSizeOptions]="[10, 50, 100, 200]" [pageIndex]="filters.value.page">
  </mat-paginator>

</div>
