:host {
  #wrapper {
    height: 100%;
    padding: 1rem;
    #table-wrapper {
      &.mobile {
        overflow: visible !important;
        min-height: initial !important;
        flex: none !important;
        display: block !important;
      }
      min-height: 0;
      overflow: auto;
      table {
        width: 100%;
      }
    }
  }
}
