<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z8" *ngIf="user != null" fxFlex="1 1 100%" fxFlex.gt-xs="1 1 80%" fxFlex.gt-md="1 1 50%" fxFlex.gt-lg="1 1 25%">
    <mat-card-header>
      <img *ngIf="photo != null" id="small-photo" mat-card-avatar [src]="photo">
      <mat-card-title>{{user.name}}</mat-card-title>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
      <mat-card-subtitle *ngFor="let role of userRoles">{{'ui.roles.' + role.toLowerCase() | translate}}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="photo != null" id="big-photo" mat-card-image [src]="photo">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
        <mat-icon>corporate_fare</mat-icon>
        <div class="mat-title m-0 p-0">{{'ui.profile.organisations' | translate}}</div>
      </div>
      <mat-list>
        <mat-list-item *ngFor="let o of organisations">
          <mat-icon mat-list-icon>double_arrow</mat-icon>
          <div mat-line>{{o.name}}</div>
        </mat-list-item>
        <mat-list-item *ngIf="organisations == null || organisations.length === 0">
          <mat-icon mat-list-icon>warning</mat-icon>
          <div mat-line>{{'ui.profile.noOrganisations' | translate}}</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

</div>
