<form (submit)="saveContract()" [formGroup]="contractForm" fxLayout="column" class="h-100 p-1" fxLayoutGap="1rem"
  fxLayoutAlign="flex-start stretch">
  <quill-editor [bounds]="'self'" [theme]="'bubble'" formControlName="content"
    [styles]="{flex: '1 1 auto', width: '100%', minHeight: '0', maxHeight: '100%'}">
  </quill-editor>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="accent">
      {{'ui.admin.editContract.save' | translate}}
    </button>
  </div>
</form>
