
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

@include mat.core();

@import './themes/qeeps.scss';


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mh0 {
  min-height: 0;
}

.oa {
  overflow: auto;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.transparent {
  background: transparent !important;
}

#notifications-wrapper {
  max-height: 50vh;
  padding: 0.5rem;
  mat-card {
    cursor: pointer;
  }
}
