<div id="editExport" >

  <mat-checkbox class="example-margin">{{'ui.createReport.edit.generatePdf' | translate}}</mat-checkbox>
  <br>

  <mat-checkbox class="example-margin">{{'ui.createReport.edit.prints' | translate}}</mat-checkbox>

  <div class="mat-subheading-2">{{'ui.createReport.edit.printsAccord' | translate}}</div>
  <mat-form-field appearance="outline" class="flex-fill" >
    <mat-label>{{'ui.createReport.edit.select' | translate}}</mat-label>
    <mat-select >
      <mat-option value="1">Option 1</mat-option>
      <mat-option value="2">Option 2</mat-option>
      <mat-option value="3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mat-subheading-2">{{'ui.createReport.edit.columns' | translate}}</div>
  <mat-selection-list  [multiple]="false">
    <mat-list-option >
      gh fg hh h hf hf
    </mat-list-option>
    <mat-list-option >
      gh fg hh h hf hf
    </mat-list-option>
    <mat-list-option >
      gh fg hh h hf hf
    </mat-list-option>
  </mat-selection-list>

  <mat-card>
    <div style="display: flex; justify-content: space-between; align-items: center;" >
      <b>{{'ui.createReport.edit.variables' | translate}}</b>
           <button color="accent" [matMenuTriggerFor]="menuft"  mat-icon-button ><mat-icon  >add</mat-icon></button>
    </div>
  </mat-card>

  <mat-selection-list  [multiple]="false">
    <mat-list-option  >
     <div class="w-100 d-flex align-items-center justify-content-between" >
      <p>zadcsxfcdsxgvdcfg</p>
      <button color="warn" mat-icon-button ><mat-icon  >clear</mat-icon></button>
     </div>
    </mat-list-option>
    <mat-list-option  >
      <div class="w-100 d-flex align-items-center justify-content-between" >
       <p>sfadsfdfcgfdhg</p>
       <button color="warn" mat-icon-button ><mat-icon  >clear</mat-icon></button>
      </div>
     </mat-list-option>
     <mat-list-option  >
      <div class="w-100 d-flex align-items-center justify-content-between" >
       <p>sfdsgfdgdgggd</p>
       <button color="warn" mat-icon-button ><mat-icon  >clear</mat-icon></button>
      </div>
     </mat-list-option>

  </mat-selection-list>




  <br>


  <div class="mat-subheading-2">{{'ui.createReport.edit.html' | translate}}</div>

  <div class="d-flex flex-column" >
    <quill-editor [styles]="{height: '250px'}"></quill-editor>
    <mat-checkbox class="example-margin">{{'ui.createReport.edit.landscapeMode' | translate}}</mat-checkbox>
    <mat-checkbox class="example-margin">{{'ui.createReport.edit.saveresult' | translate}}</mat-checkbox>
    <div class="d-flex justify-content-end" >
      <button class="me-4" mat-raised-button matStepperNext color="accent">{{'ui.createReport.edit.saveRun' | translate}}</button>
      <button mat-raised-button matStepperNext color="accent">{{'ui.createReport.edit.save' | translate}}</button>
    </div>




  </div>












</div>

<mat-menu #menuft="matMenu" class="p-2">
  <div (click)="$event.stopPropagation()">
    <mat-form-field class="w-100 mb-2" appearance="outline">
      <mat-label>{{'ui.createReport.edit.name' | translate}}</mat-label>
      <input matInput required>
    </mat-form-field>
    <mat-form-field class="w-100 mb-2" appearance="outline">
      <mat-label>{{'ui.createReport.edit.variableLabel' | translate}}</mat-label>
      <input matInput >
    </mat-form-field>
    <mat-form-field class="w-100 mb-2" appearance="outline">
      <mat-label>{{'ui.createReport.edit.column' | translate}}</mat-label>
      <mat-select required>
        <mat-option value="1">Abesente elevi matematica  </mat-option>
        <mat-option value="1">Abesente elevi matematica </mat-option>
        <mat-option value="2">Abesente elevi matematica </mat-option>
        <mat-option value="3">Abesente elevi matematica </mat-option>
        <mat-option value="3">Abesente elevi matematica </mat-option>
        <mat-option value="3">Abesente elevi matematica </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100 mb-2" appearance="outline">
      <mat-label>{{'ui.createReport.edit.aggregateFunction' | translate}} </mat-label>
      <mat-select required>
        <mat-option value="1">{{'ui.createReport.edit.count' | translate}}</mat-option>
        <mat-option value="1">{{'ui.createReport.edit.concatenation' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button matStepperNext color="accent">{{'ui.createReport.edit.add' | translate}}</button>
  </div>
</mat-menu>
