:host {
  mat-chip {
    font-size: 0.8em;
    height: initial !important;
  }
  #columns {
    overflow-x: auto;
    max-width: 100%;
    min-width: 0;

    ::ng-deep table {
      height: 100%;
      tbody {
        td {
          padding-left: 0;
          padding-right: 0;
          padding: 1px !important;

          mat-form-field {
            width: 100%;
            .mat-form-field-wrapper {
              padding-bottom: 0 !important;
            }
          }
        }
      }
      thead {
        height: 100%;
        th {
          height: 100%;
          vertical-align: top;
          min-width: 100px;
          padding: 5px;

          // &:not(:last-of-type) {
          //   border-right-width: 1px;
          //   border-right-style: solid;
          // }

          .drag-btn {
            cursor: move;
          }
        }
      }
    }
  }
}
