<form fxLayout="column" fxLayoutGap="1rem" [formGroup]="form" (submit)="save()">
  <h2 *ngIf="!id">{{ 'ui.forms.createEditForm.createForm' | translate }}</h2>
  <h2 *ngIf="id">{{ 'ui.forms.createEditForm.editForm' | translate }}</h2>

  <mat-error *ngIf="form.hasError('backend')">
    <mat-error *ngFor="let err of form.getError('backend')">
      {{ err.message | translate:err.placeholderValues }}
    </mat-error>
  </mat-error>

  <h3>{{'ui.forms.createEditForm.general' | translate}}</h3>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'ui.forms.createEditForm.title' | translate }}</mat-label>
    <input type="text" matInput required minlength="6" formControlName="title" />
    <mat-error *ngIf="form.get('title')!.hasError('required')">
      {{ 'ui.forms.createEditForm.titleRequired' | translate }}
    </mat-error>
    <mat-error *ngIf="form.get('title')!.hasError('minlength')">
      {{ 'ui.forms.createEditForm.titleTooShort' | translate: {chars: form.get('title')!.getError('minlength').requiredLength} }}
    </mat-error>
    <mat-error *ngIf="form.get('title')!.hasError('backend')">
      <mat-error *ngFor="let err of form.get('title')!.getError('backend')">
        {{ err.message | translate:err.placeholderValues }}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'ui.forms.createEditForm.description' | translate }}</mat-label>
    <textarea rows="8" matInput formControlName="description"></textarea>
    <mat-error *ngIf="form.get('description')!.hasError('backend')">
      <mat-error *ngFor="let err of form.get('description')!.getError('backend')">
        {{ err.message | translate:err.placeholderValues }}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'ui.forms.createEditForm.tags' | translate}}</mat-label>
    <mat-chip-list #chipListTags>
      <mat-chip *ngFor="let tag of form.get('tags')?.value; let i = index" [selectable]="false" [removable]="true" (removed)="removeTag(i)">
        {{tag}}
        <mat-icon matChipRemove color="warn">cancel</mat-icon>
      </mat-chip>
      <input [placeholder]="'ui.forms.createEditForm.addTags' | translate" [matChipInputFor]="chipListTags"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </mat-form-field>

  <h3>{{'ui.forms.createEditForm.attachments' | translate}}</h3>
  <div fxLayout="column">
    <app-file-upload formControlName="attachments" [multiple]="true" [accept]="acceptedFileExtensions"></app-file-upload>
    <mat-error *ngIf="form.get('attachments')!.hasError('upload')">
      <mat-error *ngFor="let err of form.get('attachments')!.getError('upload')">
        {{ err.message | translate:err.placeholderValues }}
      </mat-error>
    </mat-error>
  </div>

  <h3>{{'ui.forms.createEditForm.columns' | translate}}</h3>
  <div fxLayout="row" fxLayoutGap="5px" class="w-100">
    <div id="columns" fxFlex="1 1 100%" #columnsWrapper formArrayName="columns">
      <table *ngIf="columns.controls.length > 0" class="w-100" mat-table class="mat-elevation-z8" [dataSource]="[]">
        <ng-container [matColumnDef]="i + ''" *ngFor="let column of columns.controls; let i = index">
          <th mat-header-cell *matHeaderCellDef class="h-100">
            <form class="h-100 w-100" [formGroupName]="i" fxLayout="column" fxLayoutGap="5px">
              <mat-form-field appearance="outline">
                <mat-label>{{'ui.forms.createEditForm.columnName' | translate}}</mat-label>
                <input type="text" required matInput formControlName="name" />
                <mat-error *ngIf="columns.controls[i].get('name')?.hasError('required')">
                  {{'ui.forms.createEditForm.columnNameRequired' | translate}}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>{{'ui.forms.createEditForm.dataType' | translate}}</mat-label>
                <mat-select formControlName="dataType">
                  <mat-option *ngFor="let cdt of columnDataTypesList" [value]="cdt.value">
                    {{('ui.forms.createEditForm.' + toCamelCase(cdt.key)) | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline"
                *ngIf="columns.controls[i].get('dataType')?.value === columnDataTypes.SingleFile || columns.controls[i].get('dataType')?.value === columnDataTypes.MultipleFiles">
                <mat-label>{{'ui.forms.createEditForm.allowedExtensions' | translate}}</mat-label>
                <mat-select multiple formControlName="allowedExtensions">
                  <mat-option *ngFor="let ext of allowedExtensions" [value]="ext">
                    {{ext}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" *ngIf="columns.controls[i].get('dataType')?.value === columnDataTypes.Dropdown">
                <mat-label>{{'ui.forms.createEditForm.dropdownOptions' | translate}}</mat-label>
                <mat-chip-list #chipListOpts>
                  <mat-chip *ngFor="let opt of columns.controls[i].get('dropdownOptions')?.value; let j = index" [selectable]="false"
                    [removable]="true" (removed)="removeDropdownOption(j, i)">
                    {{opt}}
                    <mat-icon matChipRemove color="warn">cancel</mat-icon>
                  </mat-chip>
                  <input [placeholder]="'ui.forms.createEditForm.addDropdownOptions' | translate" [matChipInputFor]="chipListOpts"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addDropdownOption($event, i)">
                </mat-chip-list>
              </mat-form-field>

              <div fxFlex="1 1 100%"></div>

              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-label>{{'ui.forms.createEditForm.required' | translate}}</mat-label>
                <mat-slide-toggle formControlName="isRequired"></mat-slide-toggle>
              </div>

              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-label>{{'ui.forms.createEditForm.isFrozen' | translate}}</mat-label>
                <mat-slide-toggle formControlName="isFrozen"></mat-slide-toggle>
              </div>

              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-label>{{'ui.forms.createEditForm.isHidden' | translate}}</mat-label>
                <mat-slide-toggle formControlName="isHidden"></mat-slide-toggle>
              </div>

              <div class="w-100" fxLayout="row" fxLayoutAlign="end">
                <button type="button" (click)="removeColumn(i)" mat-icon-button color="warn">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>

    <button type="button" (click)="addColumn()" color="accent" mat-icon-button>
      <mat-icon>add</mat-icon>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <button [disabled]="form.invalid" type="submit" mat-raised-button color="accent">{{'ui.forms.createEditForm.save' | translate}}</button>
  </div>
</form>
