:host {
  ::ng-deep mat-tree {
    background: transparent !important;
    .mat-tree-node {
      min-height: 40px !important;
    }
    .invisible {
      display: none;
    }
    ul,
    li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }
    .mat-nested-tree-node div[role="group"] {
      padding-left: 1rem;
    }
    div[role="group"] > .mat-tree-node {
      padding-left: 2rem;
    }
  }
  mat-chip {
    font-size: 0.8em;
    height: initial !important;
  }
  #columns {
    overflow-x: auto;
    max-width: 100%;
    min-width: 0;

    ::ng-deep table {
      height: 100%;
      tbody {
        td {
          padding-left: 0;
          padding-right: 0;
          padding: 1px !important;

          mat-form-field {
            width: 100%;
            .mat-form-field-wrapper {
              padding-bottom: 0 !important;
            }
          }
        }
      }
      thead {
        height: 100%;
        th {
          height: 100%;
          vertical-align: top;
          min-width: 100px;
          padding: 5px;

          mat-card {
            padding: 0;
            margin: 0;
            height: 100%;
            mat-card-content {
              padding: 0.5rem;
              .drag-btn {
                cursor: move;
              }
            }
          }
        }
      }
    }
  }
}
