<form fxLayout="column" fxLayoutGap="1rem" [formGroup]="form" (submit)="save()">
  <h2 *ngIf="!id">{{ 'ui.forms.createEditForm.createForm' | translate }}</h2>
  <h2 *ngIf="id">{{ 'ui.forms.createEditForm.editForm' | translate }}</h2>

  <mat-error *ngIf="form.hasError('backend')">
    <mat-error *ngFor="let err of form.getError('backend')">
      {{ err.message | translate:err.placeholderValues }}
    </mat-error>
  </mat-error>

  <h3>{{'ui.forms.createEditForm.general' | translate}}</h3>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'ui.forms.createEditForm.title' | translate }}</mat-label>
    <input type="text" matInput required minlength="6" formControlName="title" />
    <mat-error *ngIf="form.get('title')!.hasError('required')">
      {{ 'ui.forms.createEditForm.titleRequired' | translate }}
    </mat-error>
    <mat-error *ngIf="form.get('title')!.hasError('minlength')">
      {{ 'ui.forms.createEditForm.titleTooShort' | translate: {chars: form.get('title')!.getError('minlength').requiredLength} }}
    </mat-error>
    <mat-error *ngIf="form.get('title')!.hasError('backend')">
      <mat-error *ngFor="let err of form.get('title')!.getError('backend')">
        {{ err.message | translate:err.placeholderValues }}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'ui.forms.createEditForm.description' | translate }}</mat-label>
    <textarea rows="8" matInput formControlName="description"></textarea>
    <mat-error *ngIf="form.get('description')!.hasError('backend')">
      <mat-error *ngFor="let err of form.get('description')!.getError('backend')">
        {{ err.message | translate:err.placeholderValues }}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <h3>{{'ui.forms.createEditForm.attachments' | translate}}</h3>
  <div fxLayout="column">
    <app-file-upload formControlName="attachments" [multiple]="true" [accept]="acceptedFileExtensions"></app-file-upload>
    <mat-error *ngIf="form.get('attachments')!.hasError('upload')">
      <mat-error *ngFor="let err of form.get('attachments')!.getError('upload')">
        {{ err.message | translate:err.placeholderValues }}
      </mat-error>
    </mat-error>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <button [disabled]="form.invalid" type="submit" mat-raised-button color="accent">{{'ui.forms.createEditForm.save' | translate}}</button>
  </div>
</form>
